.wrapper {
  // width: $mobile-size;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $desktop-size) {
    padding: 0 85px;
  }
}

.header {
  background-color: #dddddd;
}

.header__content {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;

  width: 100%;
  min-height: 2.6rem;//141
  padding-top: 0.98rem; //52
  padding-bottom: 0.98rem;

  transform: translateX(-50%);

  background: rgba(255,255,255,0.1);

  justify-content: space-between;
   @media (min-width: $desktop-size) {
    padding-top: 66px; //52
    padding-bottom: 52px;
    min-height: inherit;
  }
}

.header__logo {
  width: 3.6rem;//191
  height: 0.67rem;//36

  background-image: url(../../img/m-logo.png);
  @media (min-width: $desktop-size) {
    width: 236px;
    height: 59px;
    background-image: url(../../img/logo.png);
  }
}


.logo {
  background-repeat: no-repeat;
  background-position: 0, center;
  background-size: contain;

  flex-shrink: 0;
}

.search {
  display: flex;

  width: 100%;
}

.search__input {
  width: 100%;

  border: 0;
  outline: 1px solid grey;
  background: none;
}

.btn {
  padding: 0;

  cursor: pointer;

  border: 0;
  background: none;
}

.btn--choose {
  position: relative;
  left: 50%;

  display: inline-block;

  margin-top: 0.83rem;
  padding: 0.52rem 1rem; // 28px 54px 
  text-align: center;

  transform: translateX(-50%);

  color: $text-color;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);

  font-family: "OpenSans-CondensedLight";
  font-size: 0.75rem; // 40px
     @media (min-width: $desktop-size) {
       margin-top: 160px;
    font-size: 50px;
    padding: 40px 70px;
  }
}

.category--cruisers .btn--choose {
 
   @media (max-width: $desktop-size) {
   margin-top: 1.03rem;//55
  }
}

.search__btn {
  //width: 35px;
  width: 4.9%;
  height: 0.64rem;

  background-image: url(../../img/search.png);
  background-repeat: no-repeat;
  background-position: 0, center;
  background-size: contain;

  flex-shrink: 0;

  @media (min-width: $desktop-size) {
    width: 61px;
    height: 61px;
  }
}

.btn--mail {
  display: block;

  margin-top: 0.66rem;//35
  padding: 0.75rem 1.8rem;// 40px 96px


  border-radius: 10px;
  background: rgba(168,171,179,0.1);

  color:#b4b6bc;

  font-family: "OpenSans-Light";
  font-size: 0.56rem;//30px
  font-style: italic;
  line-height: 0.56rem;//30px
   @media (min-width: $desktop-size) {
     font-size: 30px;
     padding: 40px 50px;
     margin-top: 0;
     width: 100%;
  }
}

.main {
  width: 100%;
}

.main__content {
  padding: 0;

  // margin-top: -141px;
  @media (min-width: $desktop-size) {
    display: flex;

    width: 100%;

    justify-content: center;
  }
}

.category {
  min-height: 12.6rem;//668
  margin: -1px;

  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;

  @media (min-width: $desktop-size) {
    width: 50%;
    min-height: 1793px;
  }
}

.category--fixies {
  background-color: #6fa4c7;
  background-image: linear-gradient(to top, rgba(72, 177, 176, 0.7), rgba(25, 64, 172, 0.7)),
  url(../../img/mobile_fixies.jpg);

  @media (min-width: $desktop-size) {
    background-image: linear-gradient(to top, rgba(72, 177, 176, 0.7), rgba(25, 64, 172, 0.7)),
    url(../../img/desktop_fixies.jpg);
    background-position-x: right;
  }
}

.category--cruisers {
  background-color: #ae78d9;
  background-image: linear-gradient(to top, rgba(225, 146, 255, 0.7), rgba(126, 49, 192, 0.7)),
  url(../../img/mobile_cruisers.jpg);

  @media (min-width: $desktop-size) {
    background-image: linear-gradient(to top, rgba(225, 146, 255, 0.7), rgba(126, 49, 192, 0.7)),
    url(../../img/desktop_cruisers.jpg);
    background-position-x: left;
  }
}

.category__title {

  display: block;

  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
    background-size: contain;
 
}

.category__subtitle {


  text-align: center;

  color: $text-color;

  font-family: "OpenSans-CondensedLight";
  font-size: 1rem;//53px
  line-height: 1.45rem;//77px
   @media (min-width: $desktop-size) {
    font-size: 100px;
    margin-top: -5px;
    line-height: 100px;
 
  }
}

.category__title--fixies {

  height: 1.07rem; //57
  margin-top: 4.84rem;//257
  width: 4.2rem; //226
  background-image: url(../../img/Fixies.png);

   @media (min-width: $desktop-size) {
    margin-top: 625px;
      width: 430px;
      height: 157px;

  }


}

.category__title--cruisers {
  height: 1.03rem;
  margin-top: 3.39rem;
  margin-bottom: 4px;
  width: 6.1rem; //327px

  background-image: url(../../img/Cruisers.png);
   @media (min-width: $desktop-size) {
    margin-top: 570px;
    width: 615px;
    height:207px;
    margin-bottom: -23px;
  }

}

.footer {
  text-transform: uppercase;

  color: $text-color-footer;
  background: $footer-bg;

  font-family: "OpenSans-Semibold";

  font-size: 0.62rem; //33
  @media (min-width: $desktop-size) {
     font-size: 35px;

  }
}

.footer__inner{
  @media (min-width: $desktop-size) {
     width: 50%;
     text-align: left;
  }
}
.footer__logo {
display: inline-block;
  width: 22%;
  height: 0.71rem;//38

  background-image: url(../../img/logo.png);
   @media (min-width: $desktop-size) {
    display: block;
    width: 174px;
    height: 50px;
    background-image: url(../../img/logo.png);
  }
}


.footer__content {
  display: flex;
  flex-direction: column;

  padding-top: 1.2rem;

  text-align: center;

  align-items: center;
    @media (min-width: $desktop-size) {
    flex-direction: row;
     padding-top: 64px;
     padding-bottom: 72px;
      align-items:stretch;

  }
}

.footer p {
  margin: 0.94rem 0; //50px 0

  line-height: 0.88rem;//47
   @media (min-width: $desktop-size) {

//margin: 0;
width: 70%;
line-height: normal;
  }
 
}

.footer__copyright {
  display: block;

  margin-top: 0.75rem;//40
  margin-top: 1.73rem;//92

  color: $text-color;

  font-weight: bold;
   @media (min-width: $desktop-size) {

margin:0;
margin-top: 103px;
  }
}

.link {
  text-decoration: underline;
  text-transform: none;

  font-family: "OpenSans-Regular";
}

.nav {
  width: 90%;
  margin: 1.32rem 0;//70px 0
  padding: 0;
  padding-top: 1.47rem;//78
  padding-bottom: 1rem;

  list-style: none;

  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
   @media (min-width: $desktop-size) {
border:0;
border-left: 2px solid $border-color;
  border-right: 2px solid $border-color;
margin:0;
padding: 0;
display: flex;
flex-wrap: wrap;
width: 808px;
flex-direction: column;

  }
}

.nav__item {
  margin: 0;
  margin-bottom: 0.73rem;//39px

  list-style: none;

  font-family: "OpenSans-Light";
  font-size: 0.67rem;//36px
   @media (min-width: $desktop-size) {
     font-size: 35px;

margin-bottom: 17px;

  
  }
}

.contacts {
 @media (min-width: $desktop-size) {
  padding-left:83px;
  padding-top: 40px;
 

  }
}
.contacts p {
  margin: 0;
  margin-top: 0.28rem;//15

  font-family: "OpenSans-CondensedLight";
  font-size: 0.66rem; //35px
  line-height: 0.66rem;
   @media (min-width: $desktop-size) {
     font-size: 35px;
     text-align: center;
     margin: 0.28rem auto;

  }
}

.social {
  display: flex;

  width: 67%;
  height: 1.5rem;//80
  margin: 1.32rem auto;//70

  justify-content: space-around;
    @media (min-width: $desktop-size) {

    // height: 52px;
     //margin:0 auto;
  }
}

.social__icon {
  width: 0.8rem;//75

  background-image: url(../../img/sprite.png);
  background-repeat: no-repeat;
  background-size: 3.6rem;
   @media (min-width: $desktop-size) {

    // height: 52px;
    // width: 52px;


  }
}

.social__icon--twitter {
  background-position: 0.2rem 0.2rem;
}

.social__icon--google {
  background-position: -1.6rem 0.2rem;
}

.social__icon--fb {
  background-position: -3rem 0.2rem;
}
