

//** colors
$body-bg: #68B9D1;
$footer-bg:#595f6f;
$text-color: #ffffff;
$text-color-footer: #c3c3c3;


//**borders
$border-width:1px;
$border-radius:5px;
$border-color:#4d5462;

//**Size
$mobile-size:320px;
$desktop-size: 751px;
